body {
  justify-content: center;
  align-items: center;

  color: #2f1e1e;
  font-size: 20px;
  font-family: "Piazzolla", serif;
  font-optical-sizing: auto;

  background-image: linear-gradient(#f7efe8, #f7e2c4, #f8d6a0, #f9ca7c, #fabe58);
  margin: 0;
}

nav {
  position: fixed;
  padding: 2rem;
}

nav h1 {
  margin: 0;
}

section {
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
}

.screen-sized-section {
  min-width: 100dvw;
  min-height: 100dvh;
}

.center-items {
  justify-content: center;
  align-items: center;
  display: flex;
}

#nedtelling {
  text-align: center;
  width: 100%;
}

#nedtelling-tekst {
  font-size: 24px;
}

.enheter{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 50rem;
  margin: auto;
}

@media (min-width: 560px) {
  .enheter {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}}


.enhet {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* text-align: center;
  min-width: 3rem;
  max-width: 4rem;
  margin: auto; */
}

.tall {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  font-variant-numeric: tabular-nums;
}

.tid {
  font-size: 0.8rem;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05rem;
}


#om-muggedagen {
  padding: 2rem;
}