body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100dvh;
  max-width: 100dvw;
  margin: 0;

  color: #2f1e1e;
  font-family: "Piazzolla", serif;
  font-optical-sizing: auto;

  background-image: linear-gradient(#f7efe8, #f7e2c4, #f8d6a0, #f9ca7c, #fabe58);
}

#nedtelling {
  text-align: center;
  width: 100%;
}

#nedtelling-tekst {
  font-size: 24px;
}

.enheter{
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  margin: auto;
  
}

.enhet {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  min-width: 5rem;
  max-width: 6rem;
  margin: auto;
}

.tall {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  font-variant-numeric: tabular-nums;
}

.tid {
  font-size: 0.75rem;
  margin-top: 0;
}

